body{
    margin: 0px;
    padding: 0px;
}

.header{
    background: red;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.header h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.main-menu{
    background: gray;
    padding-left: 20px;
    padding-right: 20px;
    
}

.menu-link{
    float: left;
    position: relative;
    color: white;
    padding: 10px;
}

.menu-link a{
    text-decoration: none;
    color: white;
}

.clearboth{
    clear: both;
}

.dropdown-menu{
    position:absolute;
    left: 0;
    background: lightgray;
    margin-top: 10px;
    display: none;
}

.dropdown-menu a{
    display: block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: blue;
}

.menu-link:hover .dropdown-menu{
    display: block;
}

.menu-link:hover{
    background: black;
}

.dropdown-menu a:hover{
    background-color: aliceblue;
}
